/* Color palette*/
$color-red:					#ff322e;
$color-blue:				#0054a6;
$color-gray-dark: 			#363636;
$color-black:				#000;
$color-white:				#fff;
$color-site-sky:			#3db8c8;
$cream:						#ebebeb;
$brand-black:				#252525;
$color-sky:					#d9e6f2;
$color-btn-hover:			#126fc9;
$color-btn-active:			#003d79;
$color-grey: 				$cream;
$color-orange:				#f7941d;
$color-red:					#ed1c24;
$color-green:				#99c345;
$color-sky:					#ccdded;
$color-body-grey:			#f8f8f8;
$color-body-border:			#e1e1e1;
$color-link-border:			#68a1d9;
$color-offwhite:			#fafafa;

$color-sky-blue:			#0f79af;
$color-sliver:				#b8b7b7;
$color-nav-hover:			#92238e;
$color-slateblack:			#111111;
$color-pink-rose:			#92238e;
$color-graphite:			#6c6c6c;

/* Text*/
$color-text:        $color-gray-dark;
$text-gray:			#929292;
$dark-gray:			#a1a1a1;
$color-mid-gray:	#707070;

/* Links*/
$color-link:        $color-black;	
$color-link-hover:  $color-site-sky;

$gray-cream:				#b2b2b2;
$light-cream:				#cecece;


/*Brand colors*/

$primary-color: 			#0054a6;
$orange:					#f89117;


/*border-colors*/

$border-gray:				#636363;
$input-border:				$cream;


/* social icon//*/

$color-fb:  #4e71a8;
$color-tw:	#1cb7eb;
$color-insta: #444444;
$color-google: #e3411f;
$color-you: #ca3737;
$color-li:	#1686b0;
