$base-font-size:    16px;
$base-line-height:  24px;

$base-radius:       0px;

$base-spacing-unit: 1rem;

/* */
$color-border: 	#e5e5e5;
$color-tag-line:	#9a9a9a;
$color-footer-text:	#7d7d7d;
$color-cta-border:	#c9c9ff;




//images 

$img_dir: '../images';