html {
    font-size: 75%;
    line-height: $base-line-height / $base-font-size; /* [1] */
    padding: 0;
    padding-bottom: 0;
    background-color: #fff;
    color: $color-text;
    font-family: $base-font-type;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    @include bp(tablet) {
        font-size: 90%;
    }

    @include bp(tablet-large) {
        font-size: 100%;
    }
}
